<div class="max-w-2xl m-auto animate-fade-in">
  <h1 class="text-4xl sm:text-6xl text-center m-8">No offer 😥</h1>

  <!-- block of text to say here is no offer -->
  <p class="text-lg">
    There is no offer for this product. We are sorry for the inconvenience. The
    next offers will be available soon, just wait and come back later. We are
    working hard to make this product available for you. Please, come back
    later. We will be happy to see you again. Because we are so happy to see you
    in our shop for the next time and we are so happy to see you again.
  </p>
</div>
