<div
  [class.disabled]="variant === 'disabled'"
  [class.lose]="variant === 'lose'"
  [class.wine]="variant === 'wine'"
  [style]="{
    '--completed-percent':
      (clickCounter * 100) / (offerService.offer?.clickObjective || 0) + '%'
  }"
  class="border-container"
>
  <div class="bg">
    <div class="click-container p-4 relative">
      <p *ngIf="variant === 'wine'" class="text-2xl sm:text-4xl text-green-400">
        You won!
      </p>
      <p *ngIf="variant === 'lose'" class="text-2xl sm:text-4xl text-red-600">
        You lose!
      </p>
      <p
        *ngIf="!isOn"
        class="text-lg text-neutral-400 text-center"
        innerHTML="{{ sentence }}"
      ></p>
      <p *ngIf="isOn" class="text-lg text-center">
        Pour le gagné il te suffit d'être la personne qui cliquera lorsque le
        compteur sera a
        <span class="primary-text-gradiant">{{
          offerService.offer?.clickObjective
        }}</span>
      </p>
      <app-click-button
        #clickButton
        (onClick)="handleClick()"
        *ngIf="isOn"
        [disabled]="variant === 'disabled'"
        [value]="clickCounter"
      ></app-click-button>

      <p
        *ngIf="variant === 'disabled' && remainingTime > 0"
        class="text-base text-neutral-500"
      >
        You can retry in {{ remainingTime }} seconds!
      </p>
    </div>
    <div *ngIf="isOn" class="percentage-fill"></div>
  </div>
</div>
