.border-container {
  background: var(--primary-gradiant);
  max-width: 640px;
  box-shadow: var(--shadow-elevation-medium);
  @apply p-1 m-auto;
}

.border-container.disabled {
  background: linear-gradient(90deg, #3c3c3c 50%, #303030 100%);
}

.border-container.wine {
  background: linear-gradient(90deg, #27ae60 50%, #14af91 100%);
}

.border-container.lose {
  background: linear-gradient(90deg, #c0392b 50%, #ea2027 100%);
}

.percentage-fill {
  width: 100%;
  height: 32px;
  clip-path: polygon(
    0% 0%,
    max(97%, var(--completed-percent)) 0%,
    100% 100%,
    0% 100%
  );
  background-image: var(--primary-gradiant);
  transform: scaleX(var(--completed-percent));
  transform-origin: left;
  transition: transform 500ms var(--ease-out);
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.5));
}

.border-container.disabled .percentage-fill {
  background: linear-gradient(90deg, #3c3c3c 50%, #303030 100%);
}

.bg {
  background-color: var(--background-color);
}

.click-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  @apply gap-6 sm:gap-8;
}

.sound-btn {
  width: 32px;
  height: 32px;
  top: -32px;
  left: 0px;
  filter: brightness(0.5);
  transition: filter 150ms var(--ease-in);
  @apply border-2 border-neutral-200 rounded;
}
.sound-btn:hover {
  filter: brightness(1);
}

.sound-btn img {
  padding: 4px;
  width: 100%;
  height: 100%;
  display: block;
}
