<div class="flex items-center justify-between w-full gap-4">
  <h2 class="text-2xl text-bold">
    {{ isNewOffer() ? "Create" : "Edit" }}
    {{ isNewOffer() ? "" : "Offer " + offerId }}
  </h2>
  <a
    [routerLink]="['/offers/' + offerId]"
    class="text-sm text-blue-500 ml-auto"
  >
    Show offer</a
  >
  <a class="btn gray cursor-pointer" routerLink="/admin/offers"><- Back</a>
</div>

<form (ngSubmit)="onSubmit()" [formGroup]="offerForm" class="mt-4">
  <div class="flex flex-col w-96 min-w-full">
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Title</mat-label>
      <input formControlName="title" matInput name="title" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Description</mat-label>
      <textarea
        formControlName="description"
        matInput
        name="description"
      ></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Image url</mat-label>
      <textarea formControlName="imageUrl" matInput name="imageUrl"></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Specification</mat-label>
      <textarea
        formControlName="specificationText"
        matInput
        name="specificationText"
      ></textarea>
    </mat-form-field>

    <div class="flex items-center gap-4 mb-4">
      <mat-checkbox formControlName="isDraft" name="isDraft"
        >IsDraft
      </mat-checkbox>
      <mat-checkbox
        [disabled]="true"
        aria-readonly="true"
        formControlName="isOver"
        name="isDraft"
        >IsOver
      </mat-checkbox>
    </div>

    <div class="flex sm:gap-2 prices flex-col sm:flex-row flex-wrap">
      <mat-form-field appearance="fill">
        <mat-label>Barred price</mat-label>
        <input
          formControlName="barredPrice"
          matInput
          name="barredPrice"
          type="number"
        />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Price</mat-label>
        <input formControlName="price" matInput name="price" type="number" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Click objective</mat-label>
        <input
          formControlName="clickObjective"
          matInput
          name="clickObjective"
          type="number"
        />
      </mat-form-field>
    </div>

    <div class="flex sm:gap-2 items-start flex-col sm:flex-row">
      <mat-form-field appearance="fill">
        <mat-label>Start at</mat-label>
        <input
          [matDatepicker]="startPicker"
          formControlName="startAt"
          matInput
        />
        <mat-datepicker-toggle
          [for]="startPicker"
          matSuffix
        ></mat-datepicker-toggle>
        <mat-datepicker #startPicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>End at</mat-label>
        <input [matDatepicker]="endPicker" formControlName="endAt" matInput />
        <mat-datepicker-toggle
          [for]="endPicker"
          matSuffix
        ></mat-datepicker-toggle>
        <mat-datepicker #endPicker></mat-datepicker>
      </mat-form-field>
      <button class="btn small gray" (click)="setTodayDate($event)">
        Today
      </button>
    </div>

    <div class="flex justify-between">
      <a class="btn gray cursor-pointer" routerLink="/admin/offers"><- Back</a>
      <button class="btn primary" type="submit">Save</button>
    </div>
  </div>
</form>
