<div class="pt-4" *ngIf="_offerService.offer">
  <h1 class="font-sans text-5xl font-bold text-center px-2 mb-4 sm:mb-8">
    {{ _offerService.offer?.title }}
  </h1>

  <img class="cover w-full" [src]="_offerService.offer?.imageUrl" />
  <div class="px-2 my-2 sm:my-4 gap-8 flex flex-col max-w-4xl m-auto">
    <div class="flex items-baseline justify-end my-2 sm:my-4">
      <p class="primary-text-gradiant text-center text-6xl sm:text-7xl">
        Free 0.-
      </p>
      <p
        class="text-xl sm:text-2xl text-center ml-2 line-through text-neutral-400"
      >
        {{ _offerService.offer?.barredPrice }}.-
      </p>
    </div>
    <div>
      <p class="text-lg">{{ _offerService.offer?.description }}</p>
    </div>

    <app-click variant="enabled"></app-click>
  </div>
</div>
<div *ngIf="!_offerService.offer">Loading...</div>
