<div class="flex items-center justify-between">
  <h2 class="text-2xl text-bold">Offers</h2>
  <a routerLink="/admin/offers/new" class="btn primary cursor-pointer"
    >Create</a
  >
</div>

<div class="offers-container mt-4">
  <p class="text-base m-0">Offer title</p>
  <p class="text-base">Click objective</p>
  <p class="text-base">Is draft</p>
  <p class="text-base">Is over</p>
  <p class="text-base">Is live</p>
  <ng-container *ngFor="let offer of offers">
    <a
      [routerLink]="'/admin/offers/' + offer.offerId"
      class="text-blue-500 text-base m-0"
      >{{ offer.title }}</a
    >
    <p class="text-base">{{ offer.clickObjective }}</p>
    <p class="text-base">{{ offer.isDraft }}</p>
    <p class="text-base">{{ offer.isOver }}</p>
    <p class="text-base" [class.live]="offer.isLive">{{ offer.isLive }}</p>
  </ng-container>
</div>
