.offers-container {
  --items: 5;
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(var(--items), 1fr);
}

.offers-container > p:nth-child(-n + 5) {
  border-bottom: 2px solid white;
  margin-bottom: 4px;
}

.offers-container > p {
  text-align: center;
}

.live {
  @apply bg-green-800;
}
