<div class="flex items-center justify-between">
  <h2 class="text-2xl text-bold">Offers</h2>
  <a class="btn primary cursor-pointer" routerLink="/admin/offers/new"
    >Create</a
  >
</div>

<div
  class="grid-list-container mt-4"
  style="grid-template-columns: 2fr repeat(4, 1fr)"
>
  <p class="title">Offer title</p>
  <p class="title">Objective</p>
  <p class="title">Is draft</p>
  <p class="title">Is over</p>
  <p class="title">Is live</p>
  <ng-container *ngFor="let offer of offers">
    <a
      [routerLink]="'/admin/offers/' + offer.offerId"
      class="text-blue-500 text-base m-0"
      >{{ offer.title }}</a
    >
    <p class="text-base">{{ offer.clickObjective }}</p>
    <p class="text-base">{{ offer.isDraft }}</p>
    <p class="text-base">{{ offer.isOver }}</p>
    <p [class.bg-green-800]="offer.isLive" class="text-base">
      {{ offer.isLive }}
    </p>
  </ng-container>
</div>
