.gauge {
  position: relative;
  @apply p-4 rounded-lg bg-neutral-500;
}

.gauge-fill {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: scaleX(var(--percentage));
  transform-origin: left center;
  background: var(--primary-gradiant);
  @apply rounded-md transition;
}

.gauge-fill.full {
  background: linear-gradient(to right, rgb(21 128 61), rgb(101 163 13));
}
