<h2 class="text-2xl text-bold my-4">Dashboard</h2>
<div *ngIf="!dashboard">
  <p>No current offer.</p>
  <p>Let's add some beautiful offer for our Qommunities 🦦</p>
</div>
<div *ngIf="dashboard?.isNextOffer">
  <p>No current offer, here is the next offer:</p>
</div>
<div
  *ngIf="dashboard"
  class="p-2 border-neutral-600 rounded-md border-2 flex flex-col gap-4 mt-4"
>
  <div class="flex items-center gap-4">
    <h3 class="text-2xl mr-auto">
      <a [routerLink]="'/admin/offers/' + dashboard?.offerId">{{
        dashboard?.offerTitle
      }}</a>
    </h3>
    <button
      (click)="endTheOffer()"
      *ngIf="dashboard?.isOver"
      class="btn primary small"
    >
      End offer
    </button>
    <button
      (click)="increaseClick()"
      *ngIf="!dashboard?.isOver"
      class="btn primary small"
    >
      + click
    </button>
    <p
      *ngIf="dashboard?.isOver"
      class="bg-red-900 px-0.5 py-1 border-l-2 border-red-500 block"
    >
      OVER
    </p>
    <p class="text-base">Id: {{ dashboard?.offerId }}</p>
  </div>
  <div
    *ngIf="
      dashboard?.isOver &&
      safeNumber(dashboard?.clickObjective) -
        safeNumber(dashboard?.clickCount) !==
        0
    "
    class="my-4 border-l-orange-500 border-l-4 p-4 bg-orange-900 max-w-fit"
  >
    <p>
      ⚠️ The offer is over but the click count not correspond to the click
      objective.
    </p>
  </div>
  <div class="flex flex-col gap-2">
    <div class="gauge">
      <div
        [class.full]="getPercentage() >= 100"
        [style]="{ '--percentage': getPercentage() + '%' }"
        class="gauge-fill"
      ></div>
      <p class="relative">
        {{ dashboard?.clickCount || 0 }} /
        {{ dashboard?.clickObjective }} clicks
      </p>
    </div>
    <p>
      From <b>{{ getLocaleDate(dashboard?.startAt) }}</b> to
      <b>{{ getLocaleDate(dashboard?.endAt) }}</b>
    </p>
    <p>
      Active user: <b>{{ dashboard?.countOfActiveUser || 0 }}</b>
    </p>
    <div
      *ngIf="dashboard?.order && !dashboard?.isNextOffer"
      class="border-t-2 pt-2"
    >
      <p>
        <a [routerLink]="'/admin/orders/' + dashboard?.order?.orderId"
          >Order id: {{ dashboard?.order?.orderId }}</a
        >
      </p>
      <p>Order status: {{ dashboard?.order?.status }}</p>
      <p>
        <a [routerLink]="'/admin/users' + dashboard?.order?.user?.userId"
          >UserName: {{ dashboard?.order?.user?.userName }}</a
        >
      </p>
    </div>
  </div>
</div>
