.gauge {
  position: relative;
  @apply p-4 border-2 border-pink-800 rounded-lg;
}

.gauge-fill {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: scaleX(var(--percentage));
  transform-origin: left center;
  background: var(--primary-gradiant);
  @apply rounded-md transition;
}
