.nav-item {
  display: block;
  align-self: flex-start;
}

.nav-item.active {
  @apply text-pink-400;
}

.nav-item a:focus {
  outline: 2px solid white;
  outline-offset: 2px;
}

.nav-item a {
  text-decoration: underline;
  display: inline-block;

  @apply text-inherit rounded-lg;
}

.nav-menu {
  border-radius: 0 8px 8px 0;
  padding: 16px 0;
}

.outlet-container {
  @apply w-fit sm:min-w-fit;
}

@media (min-width: 340px) {
  .outlet-container {
    width: 640px;
  }
}

/* .outlet-container[_ngcontent-ng-cli-universal-c89] {
} */
