<div class="flex">
  <div
    *ngIf="authService.isAuthenticated"
    class="w-fit flex-col nav-menu absolute left-0 hidden sm:flex"
  >
    <ul class="list-none gap-2 flex flex-col">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a [routerLink]="['/admin/offers']"> Offers </a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a [routerLink]="['/admin/orders']"> Orders </a>
      </li>
    </ul>
  </div>

  <div
    class="bg-neutral-700 flex flex-col gap-8 sm:py-8 py-4 sm:px-16 px-8 rounded-3xl m-auto my-4 sm:my-8 outlet-container"
  >
    <router-outlet class="hidden"></router-outlet>
  </div>
</div>
