<nav class="">
  <div class="max-w-6xl mx-auto px-4">
    <div class="flex justify-between items-center w-full">
      <div>
        <a href="#" class="flex items-center py-4 px-2">
          <img src="assets/qoqo-logo.svg" alt="Logo" class="sm:w-28 w-16" />
        </a>
      </div>
      <div>
        <button class="btn primary flex items-center gap-2">
          Mon compte
          <img src="assets/icon/login.svg" alt="Login" class="w-4 text-white" />
        </button>
      </div>
    </div>
  </div>
</nav>
