@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

:root {
  --primary-gradiant: linear-gradient(
    90deg,
    #eb008d,
    #fb0a66,
    #fc383e,
    #f15c08
  );
  --background-color: hsl(0, 0%, 16%);
  --tw-ring-offset-shadow: 4px;
  --tw-ring-shadow: 4px;
}

body,
html {
  background-color: var(--background-color);
  @apply text-white;
}

.btn {
  line-height: 1;
  @apply px-4 py-4 rounded-full text-white  transition  outline-offset-2 text-base flex justify-center items-center;
}

.btn.small {
  @apply px-2 py-2;
}

.btn.primary {
  @apply bg-pink-600 hover:bg-pink-700 active:bg-pink-900;
}

.btn.gray {
  @apply bg-gray-600 hover:bg-gray-700 active:bg-gray-900;
}

.btn.warn {
  @apply bg-orange-600 hover:bg-orange-700 active:bg-orange-900;
}

.btn.error {
  @apply bg-red-600 hover:bg-red-700 active:bg-red-900;
}

.btn.success {
  @apply bg-green-600 hover:bg-green-700 active:bg-green-900;
}

.btn.primary:focus {
  outline: 2px solid white;
}

.primary-text-gradiant {
  background: var(--primary-gradiant);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;

  @apply font-bold text-center;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  @apply text-blue-500 m-0;
}

.grid-list-container {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(var(--items), 1fr);
  align-items: center;
}

.grid-list-container > p {
  text-align: center;
}

.grid-list-container > .title {
  @apply border-b-2 border-white text-base;
}

.live {
  @apply bg-green-800;
}

.mat-snack-bar-container {
  border-radius: 1px 4px 4px 1px !important;
  @apply border-l-pink-600 border-l-4 bg-neutral-700 text-white;
}

.mat-snack-bar-container button {
  outline: 2px solid;
  @apply outline-neutral-500;
}

.error-snackbar {
  @apply border-l-4 border-red-500;
}
