<div class="flex flex-col gap-4">
  <div class="flex justify-between w-full items-center">
    <p class="text-4xl">Hi {{ authService.user?.userName }}</p>
    <button
      (click)="onLogout()"
      class="
        text-md
        font-bold
        underline
        text-white
        cursor-pointer
        focus:outline
        flex
        gap-2
      "
    >
      Logout
      <img class="w-6" src="assets/icon/logout.svg" alt="logout" />
    </button>
  </div>
  <div class="flex gap-4 items-start flex-wrap">
    <app-input
      #firstname
      [error]="errors.firstname"
      [value]="authService.user?.firstName || ''"
      class="w-full sm:w-fit"
      label="First name"
    ></app-input>
    <app-input
      #lastname
      [error]="errors.lastname"
      [value]="authService.user?.lastName || ''"
      class="w-full sm:w-fit"
      label="Last name"
      value=""
    ></app-input>
  </div>
  <div class="flex gap-4 items-start flex-wrap">
    <app-input
      #email
      [error]="errors.email"
      [inputAttr]="{ type: 'email' }"
      [value]="authService.user?.email || ''"
      class="w-full sm:w-fit"
      label="Email"
      value=""
    ></app-input>
  </div>
  <div class="flex gap-4 items-start flex-wrap">
    <app-input
      #city
      [error]="errors.city"
      [value]="authService.user?.city || ''"
      class="w-full sm:w-fit"
      label="City"
      value=""
    ></app-input>
    <app-input
      #npa
      [error]="errors.npa"
      [value]="authService.user?.npa || ''"
      class="w-full sm:w-fit"
      label="Npa"
      value=""
    ></app-input>
  </div>
  <app-input
    #street
    [error]="errors.street"
    [value]="authService.user?.street || ''"
    class="w-full sm:w-fit"
    label="Street"
    value=""
  ></app-input>
  <button (click)="onSubmit()" class="max-w-fit btn primary">Submit</button>
</div>
