<div class="flex flex-col gap-4">
  <div class="flex justify-between w-full items-center">
    <p class="text-4xl">Hi {{ authService.user?.userName }}</p>
    <button
      (click)="onLogout()"
      class="
        text-md
        font-bold
        underline
        text-white
        cursor-pointer
        focus:outline
      "
    >
      Logout
    </button>
  </div>
  <div class="flex gap-4 items-start flex-wrap">
    <app-input
      #firstname
      [error]="errors.firstname"
      [value]="authService.user?.firstName || ''"
      class="w-full sm:w-fit"
      label="First name"
    ></app-input>
    <app-input
      #lastname
      [error]="errors.lastname"
      [value]="authService.user?.lastName || ''"
      class="w-full sm:w-fit"
      label="Last name"
      value=""
    ></app-input>
  </div>
  <div class="flex gap-4 items-start flex-wrap">
    <app-input
      #email
      [error]="errors.email"
      [inputAttr]="{ type: 'email' }"
      [value]="authService.user?.email || ''"
      class="w-full sm:w-fit"
      label="Email"
      value=""
    ></app-input>
  </div>
  <div class="flex items-baseline gap-4 justify-between flex-wrap">
    <a
      class="
        text-md
        font-bold
        underline
        text-white
        cursor-pointer
        focus:outline
        mr-auto
      "
      tabindex="0"
    >
      Send password reset email
    </a>
    <button (click)="onSubmit()" class="btn primary">Submit</button>
  </div>
</div>
