<div class="flex items-center justify-between">
  <h2 class="text-2xl text-bold">Orders</h2>
  <a class="btn primary cursor-pointer" routerLink="/admin/offers/new"
    >Create</a
  >
</div>

<div class="grid-list-container" style="--items: 4">
  <p class="title">OrderId</p>
  <p class="title">Offer</p>
  <p class="title">Status</p>
  <p class="title">Created at</p>
  <ng-container *ngFor="let order of orders">
    <a
      [routerLink]="'/admin/orders/' + order.orderId"
      class="text-blue-500 text-base m-0"
      >Order: {{ order.orderId }}</a
    >
    <a
      [routerLink]="'/admin/offers/' + order.offer.offerId"
      class="text-blue-500 text-base m-0"
      >{{ order.offer.title }}</a
    >
    <p class="text-base">{{ order.status }}</p>
    <p class="text-base">{{ getLocaleDate(order.createdAt) }}</p>
  </ng-container>
</div>
