<div class="flex gap-8 flex-col">
  <p class="text-5xl text-center">Login</p>
  <app-input
    #username
    [error]="errors.username"
    value=""
    label="Username"
  ></app-input>
  <app-input
    #password
    [error]="errors.password"
    [inputAttr]="{ type: 'password' }"
    value=""
    label="Password"
  ></app-input>
  <div class="flex items-baseline gap-4">
    <a
      routerLink="/auth/register"
      class="text-lg font-bold underline text-white cursor-pointer"
    >
      Create an account
    </a>
    <button (click)="onSubmit()" class="btn primary">Submit</button>
  </div>
</div>
