<div class="flex flex-col gap-2 w-full">
  <label class="text-base font-bold">{{ label }}</label>
  <input
    #input
    [class.disabled]="disabled"
    [class.error]="error"
    [class.helper]="helper"
    [disabled]="disabled"
    [placeholder]="placeholder"
    [value]="value"
    class="input"
  />
  <p *ngIf="error" class="text-xs text-red-500 w-min min-w-full">
    {{ error }}
  </p>
  <p *ngIf="!error && helper" class="text-xs text-neutral-400 w-min min-w-full">
    {{ helper }}
  </p>
</div>
