<div class="w-full flex pb-8">
  <div class="">
    <ul class="list-none gap-2 flex flex-col pl-8 pt-8" *ngIf="authService.isAuthenticated">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a [routerLink]="['/auth/view']"> MyAQount </a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a [routerLink]="['/auth/click']"> Qlick </a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a [routerLink]="['/auth/order']"> Orders </a>
      </li>
      <li
        class="nav-item text-red-400"
        [routerLinkActive]="['active']"
        *ngIf="authService.user?.isAdmin"
      >
        <a  [routerLink]="['/admin']"> Admin </a>
      </li>
    </ul>
    <ul class="list-none gap-2 flex flex-col pl-8 pt-8" *ngIf="!authService.isAuthenticated">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a [routerLink]="['/auth/login']"> Login </a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a [routerLink]="['/auth/register']"> Register </a>
      </li>
    </ul>
  </div>
  <div class="flex-1 ml-8 pl-8 border-l-2 border-neutral-400 pr-8">
    <router-outlet class="hidden"></router-outlet>
  </div>
</div>
