<div class="w-full flex pb-8">
  <div class="">
    <ul
      *ngIf="authService.isAuthenticated"
      class="list-none gap-2 flex flex-col pl-8 pt-8"
    >
      <li [routerLinkActive]="['active']" class="nav-item">
        <a [routerLink]="['/auth/view']"> MyAQount </a>
      </li>
      <li [routerLinkActive]="['active']" class="nav-item">
        <a [routerLink]="['/auth/click']"> Qlick </a>
      </li>
      <li [routerLinkActive]="['active']" class="nav-item">
        <a [routerLink]="['/auth/order']"> Orders </a>
      </li>
      <li
        *ngIf="authService.user?.isAdmin"
        [routerLinkActive]="['active']"
        class="nav-item text-red-400"
      >
        <a [routerLink]="['/admin']"> Admin </a>
      </li>
    </ul>
    <ul
      *ngIf="!authService.isAuthenticated"
      class="list-none gap-2 flex flex-col pl-8 pt-8"
    >
      <li [routerLinkActive]="['active']" class="nav-item">
        <a [routerLink]="['/auth/login']"> Login </a>
      </li>
      <li [routerLinkActive]="['active']" class="nav-item">
        <a [routerLink]="['/auth/register']"> Register </a>
      </li>
    </ul>
  </div>
  <div class="flex-1 ml-8 pl-8 border-l-2 border-neutral-400 pr-8">
    <router-outlet class="hidden"></router-outlet>
  </div>
</div>
