<div
  class="border-container"
  [class.disabled]="variant === 'disabled'"
  [class.wine]="variant === 'wine'"
  [class.lose]="variant === 'lose'"
>
  <div class="click-container p-4">
    <p class="text-lg text-center">
      Pour le gagné il te suffit d'être la personne qui cliquera lorsque le
      compteur sera a <span class="primary-text-gradiant">722</span>
    </p>
    <app-click-button
      (onClick)="handleTest()"
      [value]="clickCounter"
      [disabled]="variant === 'disabled'"
    ></app-click-button>
  </div>
</div>
